* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_16 {
  width: 100%;
  height: 589px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_17 {
  width: 100%;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_18 {
  width: 100%;
  height: 69px;
  background: url("../images/v1_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v1_19 {
  width: 100%;
  height: 69px;
  background: url("../images/v1_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 625px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_20 {
  width: 141px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v1_21 {
  width: 141px;
  height: 36px;
  background: url("../images/v1_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_22 {
  width: 434px;
  height: 69px;
  background: url("../images/v1_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 434px;
  overflow: hidden;
}
.v1_23 {
  width: 64px;
  height: 69px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_25 {
  width: 82px;
  height: 69px;
  background: url("../images/v1_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  overflow: hidden;
}
.v1_26 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_27 {
  width: 70px;
  height: 69px;
  background: url("../images/v1_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 210px;
  overflow: hidden;
}
.v1_28 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_29 {
  width: 122px;
  height: 33px;
  background: rgba(0,0,0,1);
  padding: 8px 20px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 312px;
  overflow: hidden;
}
.v1_30 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 20px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 100%;
  height: 520px;
  background: rgba(255,255,255,1);
  padding: 64px 24px;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 0px;
  overflow: hidden;
}
.v1_32 {
  width: 100%;
  height: 392px;
  background: url("../images/v1_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 80px;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 120px;
  overflow: hidden;
}
.v1_33 {
  width: 560px;
  height: 320px;
  background: rgba(255,255,255,1);
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v1_34 {
  width: 560px;
  height: 239px;
  background: url("../images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_35 {
  width: 560px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v1_36 {
  width: 560px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 158px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v1_37 {
  width: 154px;
  height: 57px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 0px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0px;
  overflow: hidden;
}
.v1_38 {
  width: 154px;
  height: 41px;
  background: rgba(0,0,0,1);
  padding: 12px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v1_39 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_40 {
  width: 560px;
  height: 392px;
  background: url("../images/v1_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 560px;
  overflow: hidden;
}
.v1_41 {
  width: 560px;
  height: 392px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_42 {
  width: 560px;
  height: 392px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
