:root {
  --white: white;
  --black: black;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.section.center {
  background-color: #cf0063;
  background-image: linear-gradient(135deg, #dd1173, #350e47);
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section.full-img {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section.wide.img {
  padding-bottom: 0;
}

.section.wide.purple {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.col {
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  flex: 0 auto;
  width: 25vw;
}

.col.padding {
  border-style: none;
  flex: 1;
  max-width: 50%;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  width: 100%;
  height: auto;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: flex;
}

.nav-inner {
  border-bottom: 1px rgba(255, 255, 255, .1);
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: rgba(0, 0, 0, 0);
  font-family: Gothic A1, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  border: 1px #000;
  flex: none;
  width: 50vw;
  max-width: 450px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  width: 33.33%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #fc0a7e;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 8600px;
}

.div-block-3._02 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: 100vw;
}

.div-block-3._03 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: 100vw;
  height: 6000px;
}

.div-block-4 {
  flex-direction: column;
  align-items: center;
  width: 65%;
  max-width: 440px;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  max-width: auto;
  align-items: flex-start;
  width: 100vw;
  position: relative;
}

.wrap {
  text-align: center;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.title {
  color: #a8a8a8;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px #2e2e2e;
  padding-bottom: 5px;
  font-size: 12px;
  display: inline-block;
}

.title.white {
  color: rgba(255, 255, 255, .6);
  border-bottom-color: rgba(255, 255, 255, .4);
}

.image-2 {
  flex: none;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 150px;
  display: flex;
}

.button-wrap {
  justify-content: center;
  width: auto;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  background-color: #c6ced3;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.thumb-food._01 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  background-color: #acb1b4;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 80px;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  width: 340px;
  height: 80px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
}

.hero-content {
  z-index: 90;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vh;
  position: relative;
}

.feature-wrap {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  border-style: none;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 50vw;
  display: flex;
}

.black {
  color: #000;
}

.hero-subhead {
  color: #fff;
  max-width: 60%;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.black-bar {
  background-color: #2a2326;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  height: 35px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  height: 70px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  background-color: rgba(0, 0, 0, 0);
  width: 90vw;
  height: 60vh;
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  background-color: #d3d3d3;
  flex: none;
  width: 30px;
  height: 1px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-size: 60px;
  line-height: 90px;
}

.float {
  border: 4px solid #09a4ec;
  width: 40vw;
  height: 50vh;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.image-licensing {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  flex: 1;
  max-width: 600px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    background-image: none;
    height: auto;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    background-color: #000;
    min-width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-content.icons {
    text-align: left;
    align-items: flex-start;
    width: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    flex: none;
    align-items: center;
    width: 50%;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.center {
    padding-bottom: 10vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .image-2 {
    width: 100%;
  }

  .button-wrap {
    flex-direction: column;
    width: 90vw;
  }

  .hero-image {
    width: 80%;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .form-2 {
    flex-direction: column;
    width: 90vw;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }
}


