.root {
  width: 1440px;
  height: min-content;
  flex-direction: column;
  background-color: #fff;
}
.navbarLogoLeft {
  height: min-content;
  align-self: stretch;
  place-content: center;
  padding: 0 24px;
  background-color: #fff;
  overflow: hidden;
}
.navbarContainer {
  width: 1200px;
  height: min-content;
  align-self: flex-start;
  place-content: center;
}
.navbarContent {
  width: 1200px;
  height: min-content;
  align-self: flex-start;
  place-content: space-between;
  align-items: center;
}
.navbarBrand {
  width: min-content;
  height: min-content;
}
.logo {
  width: 141px;
  height: 36px;
  place-content: center;
  background-image:/* webpackIgnore: true */ url('/assets/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbarMenu {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 32px;
  overflow: hidden;
}
.navbarLink {
  width: min-content;
  height: min-content;
  padding: 24px 12px;
}
.about {
  color: #000;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navbarLink2 {
  width: min-content;
  height: min-content;
  padding: 24px 12px;
}
.features {
  color: #000;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navbarLink3 {
  width: min-content;
  height: min-content;
  padding: 24px 12px;
}
.pricing {
  color: #000;
  font-size: 14px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navbarButton {
  width: min-content;
  height: min-content;
  padding: 8px 20px;
  background-color: #000;
}
.gETSTARTED {
  color: #fff;
  font-size: 12px;
  line-height: 140%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.heroHeadingLeft {
  height: min-content;
  align-self: stretch;
  place-content: center;
  padding: 64px 24px;
  background-color: #fff;
  overflow: hidden;
}
.container {
  width: 1200px;
  height: min-content;
  align-self: flex-start;
  align-items: center;
  gap: 80px;
}
.column {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.content {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 24px;
}
.H1TitleCopyGoesHereBeAwesome {
  color: #000;
  font-size: 56px;
  line-height: 120%;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.PLoremIpsumDolorSitAmetConsect {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.textBlock {
  color: #212121;
  font-size: 18px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #212121;
  font-size: 18px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #212121;
  font-size: 18px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.actions {
  width: min-content;
  height: min-content;
  padding: 16px 0 0;
}
.button {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 12px 24px;
  background-color: #000;
}
.unnamed {
  color: #fff;
  font-size: 12px;
  line-height: 140%;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.column2 {
  height: min-content;
  flex: 1;
}
.imageWrapper {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.image {
  height: 392.9005px;
  align-self: stretch;
  place-content: center;
  background-image:/* webpackIgnore: true */ url('/assets/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
